{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}



## DLDR

To install the chart with the release name `my-release`:

```console
$ helm registry login -u myuser registry.hub.docker.com 
$ helm install my-release  oci://registry.hub.docker.com/onelans/{{ template "chart.name" . }} --version 0.5.5
```

or

```console
helm repo add tock https://theopenconversationkit.github.io/tock-helm-chart/
helm repo update
helm search repo tock
helm install tock tock/tock --version 0.5.5
```


## Introduction

This chart helps to setup a Tock environnement. 


{{ template "chart.requirementsSection" . }}

## Sections

This creates values, but sectioned into their own section tables if a section comment is provided.

{{ template "chart.valuesSection" . }}



## Authentication configurations

The following sample could be added as ConfigMap to configure the authentication of the admin web interface.

To use it , you have to apply the following ConfigMap to your cluster.

```console
$ kubectl apply -f ./admin-web-auth-cfg.yaml
```

And set in your values file `adminWeb.authCongifMap` to `admin-web-auth-cfg` (configmap name)

`admin-web-auth-cfg.yaml`

```yaml
apiVersion: v1
  kind: ConfigMap
  metadata:
    name: admin-web-auth-cfg
    labels:
      app.kubernetes.io/name: admin-web-auth
      app.kubernetes.io/component: admin-web
    data:
      tock_users:  "alice@tock.ai,bob@tock.ai" # Credentials (separated by commas). Default value `admin@app.com`
      tock_passwords: "secret1,secret2" # Password (separated by commas). Default value `password`
      tock_organizations: "tock,tock" # Organizations (separated by commas). Default value `app``
      tock_roles: "botUser,nlpUser|botUser|admin|technicalAdmin" #  Roles separated | (and then by commas). Default value is empty."
 ```

In this example, Alice has the role 'botUser', whereas Bob has all the roles. 
To define the identities and roles of several users, separate their values with commas.

You can find more information about the roles in the [Tock documentation](https://doc.tock.ai/tock/fr/admin/securite/#r%C3%B4les)

## Deployment on arm64 and processor without AVX instructions

It seems the native build of MongoDB requires AVX instructions at the processor level

https://github.com/bitnami/charts/issues/12834

For Arm, the image used in value must be changed, and the following Mongodb chart image should be used instead.

https://artifacthub.io/packages/helm/bitnami/mongodb/14.8.3

## Deployment sample on Rancher Desktop or k3s

```console
$ helm install mytock oci://registry.hub.docker.com/onelans/{{ template "chart.name" . }} --version 0.4.4 -f ./rancher-values.yaml
```

`rancher-values.yaml`
```yaml
global:
  wildcardDomain: rancher.localhost
  deployMongoDb:
    enabled: true

botApi:
  environment:
    tock_default_log_level: "debug"
    tock_web_use_default_cors_handler_url : "*"
  ingress:
    enabled: true


mongodb:
  architecture: "replicaset"
  auth:
    enabled: false
  persistence:
    enabled: false
    size: 1Gi
  image:
    repository: xavidop/mongodb
    tag: 7.0.14

nlpApi:
  environment:
    tock_env: prod
    tock_web_use_default_cors_handler: "true"
    tock_web_use_default_cors_handler_url: "*"
    tock_web_use_default_cors_handler_with_credentials: "false"
  repository:
    image: tock/nlp_api
    tag: 24.3.4


adminWeb:
  ingress:
    enabled: true
```

> The values file defines a MongoDB image that is compatible with macOS Arm

## Deployment sample on GKE

```console
$ helm install mytock oci://registry.hub.docker.com/onelans/{{ template "chart.name" . }} --version 0.4.4 -f ./gke-values.yaml
```

`gke-values.yaml`

```yaml
global:
  wildcardDomain: gke.mydomain.com
  deployMongoDb:
    enabled: true

botApi:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "gce"
  service:
    type: NodePort

adminWeb:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "gce"  
  service:
    type: NodePort
```

> The values file defines the use of the GCE ingress controller
> You can get the external IP of the ingress controller with the following command
> `kubectl get ingress mytock-admin-web  --output yaml`

## Add enterprise certificates

If you have to integrate coded stories that require enterprise certificates, you can use the truststore feature.

To enable it, set the following values in your `values.yaml` file:

```yaml
botApi:
  truststore:
    enabled: true
    certSecret: "corp-root-cert"
```
This will enable the truststore and use the certificates from the specified Secret.
You can create the Secret with the following command:

```console
kubectl create secret generic corp-root-ca --from-file=corp-root-ca.crt
```

This will create a Secret named `corp-root-ca` with the certificate file `corp-root-ca.crt`.

## Solve langchain and tiktoken issues on on-premise deployments

If you are using OpenAI as LLM, langchain needs tiktoken as tokenizer. Langchain tries to download tiktoken base if he is not present in the local cache. 
To solve the issue with tiktoken on on-premise deployments without internet access, you can provide a local cache through a dedicated initcontainer.

You can get the tiktoken base files from the following URL:

```shell
export CL100K_BASE_URL= https://openaipublic.blob.core.windows.net/encodings/cl100k_base.tiktoken
export CL100K_BASE_CACHE_NAME= $(shell echo -n $(CL100K_BASE_URL) | sha1sum | head -c 40)
wget ${CL100K_BASE_URL} -O tiktoken-bases/${CL100K_BASE_CACHE_NAME}
```

And build the initcontainer image with the following Dockerfile:

```Dockerfile
FROM busybox:1.36.1-uclibc
#   cl100k_base.tiktoken (~1.6 MiB)
#   (optionnel) o200k_base.tiktoken, p50k_base.tiktoken, etc.
COPY tiktoken-bases/ /tiktoken/
ENTRYPOINT ["/bin/true"]
```

Build the image with the following command:

```shell
docker build -t tiktoken-base-cache:1.0 .
```

To use the initcontainer, set the following values in `genAiOrchestrator` in your `values.yaml` file:

```yaml
genAiOrchestrator:
  langchain:
    tiktokencache:
      enabled: true
      registry: <your-registry
      repository: tiktoken-cache-img
      tag: 1.0
```